<div class = "row">
     <aside class=span4>
       <section>
         <h1>
           <%= @notification.notification_type %>
           <%= @notification.message %>
           <%= @notification.received_date %>
           <%= @notification.owner %>
         </h1>
       </section>
     </aside>
</div>

